@import "../../styles/pages/theme";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: get-theme-color("primary-color");
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  user-select: none;

  &__container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  &__left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;

    &-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    &-text {
      color: get-theme-color("text-primary");
      font-size: 28px;
      font-weight: bold;
      margin: 0;
      letter-spacing: -1px;
    }
  }

  &__search {
    transition: all 0.2s ease;
    max-width: 280px;
    width: 25vw;
    &-form {
      transition: width 0.2s ease;
      background: get-theme-color("secondary-color");
      border-radius: 50px;
      padding: 0 16px;
      display: flex;
      align-items: center;
    }

    &-icon {
      margin-right: 8px;
      color: get-theme-color("quaternary-color");
      font-size: 20px;
    }

    &-input {
      height: 40px;
      width: 100%;
      border: none;
      background: none;
      outline: none;
      font-size: 15px;
      font-family: $font-family-base;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::placeholder {
        color: get-theme-color("text-tertiary");
      }
    }

    &-suggestions {
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      padding: $header-height 30px 10px 30px;
      background-color: get-theme-color("primary-color");
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 10;
      max-height: 300px;
      overflow-y: auto;
      margin-top: 8px;

      &-item {
        padding: 10px 16px;
        cursor: pointer;
        color: get-theme-color("text-primary");
        transition: background-color 0.2s ease;

        &:hover {
          background-color: get-theme-color("tertiary-color");
        }
      }
    }
    &-close {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: get-theme-color("text-secondary");
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 12;
      transition: all 0.2s ease;

      &:hover {
        background-color: get-theme-color("secondary-color");
      }
    }

    &--focused {
      & .header__search-form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 280px;
        z-index: 11;
      }
      & .header__search-icon {
        display: none;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 5px 10px;

      .search-item__info {
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h3 {
          font-size: 15px;
          margin: 0;
          color: get-theme-color("text-primary");
        }

        span {
          font-size: 12px;
          color: get-theme-color("text-tertiary");
        }
      }

      .search-item__avatar {
        width: 40px;
        height: 40px;
        border: 1px solid get-theme-color("secondary-color");
        border-radius: 7.5px;
        overflow: hidden;
      }
      &:hover {
        background-color: get-theme-color("secondary-color");
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  }

  &__nav {
    flex: 2;

    &-link {
      height: 50px;
      width: clamp(50px, 8vw, 100px);
      color: get-theme-color("tertiary-color");
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.2s ease;
      position: relative;

      &:hover {
        background-color: get-theme-color("secondary-color");

        & .header__nav-text {
          display: block;
        }
      }

      &--active {
        color: get-theme-color("quaternary-color");

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -8px;
          height: 4px;
          background-color: get-theme-color("quaternary-color");
          border-radius: 2px;
        }
      }
    }

    &-icon {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      display: none;
      font-size: 14px;
      padding: 5px 10px;
      width: fit-content;
      white-space: nowrap;
      border-radius: 25px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      bottom: -40px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon-group {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid rgba(get-theme-color("tertiary-color"), 0.2);
    background-color: get-theme-color("background-color-light");
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: get-theme-color("quaternary-color");
    cursor: pointer;

    &-badge {
      position: absolute;
      z-index: 2;
      width: 18px;
      height: 18px;
      top: -4px;
      right: -4px;
      border-radius: 50%;
      background-color: get-theme-color("red-color");
      border: 1px solid rgba(get-theme-color("primary-color"), 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: get-theme-color("text-quaternary");
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(get-theme-color("quinary-color"), 0.1);
      transition: all 0.2s ease;
      display: none;
    }

    &:hover::after {
      display: block;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: block;

    &-badge {
      top: auto;
      bottom: -4px;
      background-color: get-theme-color("tertiary-color");
      border: 1px solid get-theme-color("primary-color");
      color: get-theme-color("quaternary-color");
    }
  }
}
