.avatar-user {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  
  &.mini {
    width: 20px;
    height: 20px;
  }
  
  &.small {
    width: 32px;
    height: 32px;
  }
  
  &.medium {
    width: 48px;
    height: 48px;
  }
  
  &.large {
    width: 56px;
    height: 56px;
  }
}
