@import "../../styles/pages/theme.scss";

$quaternary: get-theme-color("quaternary-color");

.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;

  &::before,
  &::after {
    content: "";
    grid-area: 1 / 1;
    $c: no-repeat radial-gradient(farthest-side, #{$quaternary} 92%, #0000);
    background:
      $c 50% 0,
      $c 50% 100%,
      $c 100% 50%,
      $c 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }

  &::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
  }
}


@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
