@use "sass:map";
@import "../../../styles/pages/theme";
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 200px;
}

.create-post-section,
.posts-feed {
        width: 100%;
  max-width: 100%;
}

.create-post-card {
    width: 100%;
  max-width: 100%;
}