@use "sass:map";
@import "theme";

* {
    font-family: $font-family-base;
}

html {
    font-size: 62.5%;
    line-height: $theme-line-height;
    scroll-behavior: smooth;
}

body {
    background-color: get-theme-color("background");
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    min-height: calc(100vh - 120px - 65.5px);
    padding: $theme-padding;
    padding-top: $header-height;
    overflow-y: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: get-theme-color("primary");
    
    &:hover {
        text-decoration: underline;
    }
}
