$theme-colors: (
    //background colors
    "background-color-light": #eef5f1,
    "background-color-dark": #051f24,
    //colors 
    "primary-color": #fdfdfd,
    "secondary-color": #91bea0,
    "tertiary-color": #115745,
    "quaternary-color": #051f24,
    "quinary-color":#eef5f1,
    "red-color": #ff4d4f,
    //text colors
    "text-primary": #051f24,
    "text-secondary": #115745,
    "text-tertiary": #91bea0,
    "text-quaternary": #fdfdfd,
);

@function get-theme-color($key) {
    @return map-get($theme-colors, $key);
}

$theme-padding: 0 20px;
$theme-line-height: 1.5;
$theme-text-indent: 30px;
$header-height: 60px;
$sidebar-width: 360px;

$font-family-base: 'Noto Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;